body {
    background-color: cornflowerblue;
}

#mybox {
    position: relative;
    width: 50%;
    height: 100px;
    background-color: aquamarine;
    outline: 3px groove darkslategray;
}

#robot {
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: mediumvioletred;
   /* outline: 1.5px solid black; */
    /* left: 50%;
    top: 50%; */
    animation-name: robot-dance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes robot-dance {
     0%, 100%{
        background-color: red;
        left: 10%;
        top:5%;
     }
     25%{
        top: 30%;
     }
     50%{
        background-color: chartreuse;
        left: 80%;
     }
     75%{
        background-color: purple;
        top: 10%;
     }
}